.DS_Store
.coverage
.dockerignore
.env
.flake8
.git/
.github/
.gitignore
.idea
.pre-commit-config.yaml
.pytest_cache
.vscode/
.venv/
data/
Dockerfile
__pycache__
db.sqlite3
docker-compose*
frontend_components/
htmlcov/
poetry.toml
static/