[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
autopep8 = "*"

[packages]
django = "==3.2.11"
pillow = "*"
requests = "*"
gunicorn = {extras = ["gevent"], version = "*"}
psycopg2 = "*"
whitenoise = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
