body {
    font-size: 16px;
}

.metrica-value {
    font-size: 25px;
    font-weight: 500;
}

.hidden {
    display: none !important;
}

#report-form input[type='text'] {
    width: 100%;
}

#report-form thead tr th:first-child {
    word-break: break-all;
    width: 100px;
}