<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            {{ report.employee }}, {{ report.date_from|date:"d.m.Y" }} - {{ report.date_to|date:"d.m.Y" }}
            <span class="badge bg-{{ report.get_report_status_css_class }} text-sm">{{ report.get_status_display }}</span>
        </h4>
    </div>
    <div class="card-content">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th class="text-center align-middle">Metrica</th>
                        <th class="text-center align-middle">Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, group in report.get_grouped_metrics.items %}
                        {% for metrica in group %}
                            <tr class="table-{{ metrica.get_class|default:'default' }}">
                                <td class="text-center align-middle">{{ metrica.name }}</td>
                                <td class="text-center align-middle">{{ metrica.value }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>