{% extends "./../base.html" %}

{% block title %} Сотрудники {% endblock title %}

{% block content %}

    {% if employee_list %}
        {% for w in employee_list %}
        <form action="{% url 'salaries:salary_result' w.id %}" method="POST">
            {% csrf_token %}
            <p>{{ w.name }}</p>
            From <input type="date" name="date_from">
            To <input type="date" name="date_to">
            <button  class="btn btn-success" type="submit">Calculate!</button>
        </form>
        {% endfor %}
    {% else %}
        В системе пока нет сотрудников. Зайдите в <a href="/admin">админ-панель</a>, чтобы добавить нового сотрудника
    {% endif %}

{% endblock content %}
